/* change main color to #33B883 green */

* {
  font-family: 'Overpass Mono', monospace;
}

body {
  background-image: url('img/html.jpg');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

#home, #skills, #portfolio, #contact {
  background-color: rgba(238, 238, 238, 0.8);
}

.navbar-brand {
  line-height: 25px !important;
}

#home p {
  font-size: 18px;
}

.carousel-caption {
  color: whitesmoke;
  text-shadow: 0 0 8px grey;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

footer {
  background-color: #222222;
  color: #ffffff;
}

.fa {
  padding: 0 5px;
}

@media screen and (min-width: 768px) {
  #home, #skills, #portfolio, #contact {
    min-height: 100vh;
  }
}